<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Case Evaluation</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/jquery.imgplay.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
.imageplayer {
    width: 960px;
    height: 540px;
}
</style>
<body>
<div class="container">
    <h1 id="action"></h1>
    <p id="shiftaction"></p>
    <h5 id="phrase"></h5>
    <p id="shifttxt">0</p>
    <div id="playerWrapper">
        <div id="player" class="imageplayer"></div>
    </div>
    <button class="btn btn-secondary" id="backshift">Backshift</button>
    <button class="btn btn-secondary" id="forwardshift">Forwardshift</button>
    <form>
        <div class="form-group">
            <input type="text" class="form-text" id="annotation">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<script type="text/javascript" src="../static/jquery.imgplay.min.js"></script>
<script>
var origin = window.location.origin
var action_idx = 0
var shift = 0
var clip_i = 0

function play(participant, task, startStep, endStep) {
    $('#playerWrapper').html(`<div id="player" class="imageplayer"></div>`)
    for(i = startStep; i < endStep; i += 3) {
        let line = `<img src="https://storage.googleapis.com/nbc_release/` + participant + `/` + participant + `_task` + task + `/` + i + `.png" />`
        $('#player').append(line)
    }
    $('#player').imgplay({rate: 30}).data('imgplay').play()
}

function playshift() {
    $('#shifttxt').text(shift)
    $.getJSON(origin + '/shift?idx=' + action_idx + '&shift=' + shift, function(res) {
        $('#shiftaction').text(res['z'])
        console.log(res['start_step'], res['end_step'])
        play(res['participant'], res['task'], res['start_step'], res['end_step'])
    });
}

$(document).ready(function() {
    var url_string = window.location.href
	var url = new URL(url_string)
	clip_i = parseInt(url.searchParams.get('i'))
    $.getJSON(origin + '/get_pick?i=' + clip_i, function(res) {
        console.log(res['action_start_step'], res['action_end_step'])
        let participant = res['participant']
        let task = res['task']
        let startStep = res['action_start_step']
        let endStep = res['action_end_step']
        action_idx = res['action_idx']
        $('#action').text(res['action'])
        $('#phrase').text(res['full_phrase'])
        play(participant, task, startStep, endStep)
    });

    $('form').submit(function(e) {
        e.preventDefault()
        var annotation = action_idx + ',' + $('#annotation').val()
        $.get(origin + '/annotate?annotation=' + annotation)
        clip_i += 1
        window.location.href = origin + '/action_clips?i=' + clip_i
    });

    $('#backshift').click(function() {
        shift -= 1
        playshift()
    });
    $('#forwardshift').click(function() {
        shift += 1
        playshift()
    })
})
</script>
</html>
